body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #222;
    color: #fff;
}

.container {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    position: relative;
}

.image-container {
    position: relative;
    min-height: 200px;
}

img {
    width: 200px;
    height: auto;
    transition: 0.3s;
}

#moreInfoButton {
    background-color: #222;
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.hover-image:hover {
    content: url("jaclub.png");
}

text-container {
    text-align: center;
}

h1 {
    line-height: 1;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
}


@media (max-width: 768px) {

    .container {
        min-height: 20px;
    }

    img {
        width: 100%;
    }

    .text-container {
        padding: 20px;
    }
}